PORT=3000
DATABASE_URL="postgresql://username:password@localhost:5432/ip_flow"

ADMIN_EMAIL=""
ADMIN_PASSWORD=""

REDIS_HOST="127.0.0.1"
REDIS_PORT="6379"

MAIL_HOST="smtp.gmail.com"
MAIL_PORT=465
MAIL_EMAIL="email"
MAIL_PASSWORD="your_email_password"

ACCESS_TOKEN_KEY="maxfiy-kalit-123"
ACCESS_TOKEN_TIME=15m
REFRESH_TOKEN_KEY="maxfiy-kalit-321"
REFRESH_TOKEN_TIME=7d